Imports

In [1]:
!pip install rdflib

Defaulting to user installation because normal site-packages is not writeable
Collecting rdflib
  Downloading rdflib-6.1.1-py3-none-any.whl (482 kB)
     |████████████████████████████████| 482 kB 8.2 MB/s eta 0:00:01
Requirement already satisfied: setuptools in /home/wichert/.local/lib/python3.8/site-packages (from rdflib) (58.1.0)
Requirement already satisfied: pyparsing in /home/wichert/.local/lib/python3.8/site-packages (from rdflib) (2.4.7)
Collecting isodate
  Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
     |████████████████████████████████| 41 kB 918 kB/s  eta 0:00:01
Requirement already satisfied: six in /home/wichert/.local/lib/python3.8/site-packages (from isodate->rdflib) (1.16.0)
Installing collected packages: isodate, rdflib
Successfully installed isodate-0.6.1 rdflib-6.1.1
WARNING: You are using pip version 21.2.2; however, version 22.1 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
from rdflib import Graph, URIRef, RDF

Retrieve DFs

In [3]:
moves = pd.read_pickle("../Prepared_DFs/moves.pkl")
house_prices = pd.read_pickle("../Prepared_DFs/house_prices.pkl")
house_availability = pd.read_pickle("../Prepared_DFs/house_availability.pkl")
population = pd.read_pickle("../Prepared_DFs/population.pkl")

In [19]:
moves_renamed = pd.read_pickle("../Prepared_DFs/moves_renamed.pkl")

In [24]:
moves_renamed.loc[(moves_renamed['RegioVanVertrek'] == 'Aalburg') & (moves_renamed['RegioVanVestiging'] == 'Almere')]

,ID,RegioVanVestiging,RegioVanVertrek,Perioden,TussenGemeentenVerhuisdePersonen_1
19805,328605,Almere,Aalburg,2016JJ00,1.0
19806,328606,Almere,Aalburg,2017JJ00,1.0
19807,328607,Almere,Aalburg,2018JJ00,0.0
19808,328608,Almere,Aalburg,2019JJ00,NaN
19809,328609,Almere,Aalburg,2020JJ00,NaN

In [27]:
house_availability

,ID,StatusVanBewoning,RegioS,Perioden,TotaleWoningvoorraad_1,Koopwoningen_2,TotaalHuurwoningen_3,EigendomWoningcorporatie_4,EigendomOverigeVerhuurders_5,EigendomOnbekend_6
54,664,T001235,GM0034,2016JJ00,79721.0,50834.0,28724.0,21785.0,6939.0,163.0
55,665,T001235,GM0034,2017JJ00,80582.0,51333.0,29088.0,21827.0,7261.0,161.0
56,666,T001235,GM0034,2018JJ00,82312.0,52076.0,29997.0,21855.0,8142.0,239.0
57,667,T001235,GM0034,2019JJ00,84161.0,54028.0,29962.0,22978.0,6984.0,171.0
58,668,T001235,GM0034,2020JJ00,85977.0,54906.0,30895.0,23334.0,7561.0,176.0
...,...,...,...,...,...,...,...,...,...,...
7429,14095,A028726,GM0344,2017JJ00,7939.0,1745.0,5161.0,2088.0,3073.0,1033.0
7430,14096,A028726,GM0344,2018JJ00,7005.0,1824.0,4207.0,1552.0,2655.0,974.0
7431,14097,A028726,GM0344,2019JJ00,7204.0,2353.0,4689.0,1433.0,3256.0,162.0
7432,14098,A028726,GM0344,2020JJ00,6983.0,2180.0,4652.0,1633.0,3019.0,151.0
7433,14099,A028726,GM0344,2021JJ00,7692.0,2109.0,5454.0,2031.0,3423.0,129.0

In [14]:
township = URIRef('http://rdfs.co/juso/Township')
gm0034 = URIRef("http://example.org/gm0034")

"""Ik denk dat we door de verschillende tables moeten loopen en dan triples toevoegen waarbij de gemeentes steeds de subject (eerste ding in de triple) zijn
Zoals bijv hieronder:

GM0034 -> is een -> gemeente (aangegeven door de uri hierboven)
(ik denk eigenlijk dat we voor GM0034 ook online references kunnen vinden naar de wiki oid van de daadwerkelijke gemeente ipv t te doen via http://example.org/gm0034

Door alle tables in triples aan 1 graph toe te voegen heb je dan alle info op 1 plek"""

g = Graph()

g.add((gm0034, RDF.type, township))

# print(g.serialize(format='n3'))

<http://example.org/gm0034> a <http://rdfs.co/juso/Township> .