Imports

In [11]:
import pandas as pd
from rdflib import Graph, URIRef, RDF

Retrieve DFs

In [3]:
moves = pd.read_pickle("../Prepared_DFs/moves.pkl")
house_prices = pd.read_pickle("../Prepared_DFs/house_prices.pkl")
house_availability = pd.read_pickle("../Prepared_DFs/house_availability.pkl")
population = pd.read_pickle("../Prepared_DFs/population.pkl")

In [5]:
moves

,ID,RegioVanVestiging,RegioVanVertrek,Perioden,TussenGemeentenVerhuisdePersonen_1
45,283955,GM1680,GM0034,2016JJ00,0.0
46,283956,GM1680,GM0034,2017JJ00,2.0
47,283957,GM1680,GM0034,2018JJ00,7.0
48,283958,GM1680,GM0034,2019JJ00,6.0
49,283959,GM1680,GM0034,2020JJ00,6.0
...,...,...,...,...,...
967625,2469345,GM0193,GM0344,2016JJ00,155.0
967626,2469346,GM0193,GM0344,2017JJ00,171.0
967627,2469347,GM0193,GM0344,2018JJ00,183.0
967628,2469348,GM0193,GM0344,2019JJ00,167.0
967629,2469349,GM0193,GM0344,2020JJ00,208.0

In [14]:
township = URIRef('http://rdfs.co/juso/Township')
gm0034 = URIRef("http://example.org/gm0034")

"""Ik denk dat we door de verschillende tables moeten loopen en dan triples toevoegen waarbij de gemeentes steeds de subject (eerste ding in de triple) zijn
Zoals bijv hieronder:

GM0034 -> is een -> gemeente (aangegeven door de uri hierboven)
(ik denk eigenlijk dat we voor GM0034 ook online references kunnen vinden naar de wiki oid van de daadwerkelijke gemeente ipv t te doen via http://example.org/gm0034

Door alle tables in triples aan 1 graph toe te voegen heb je dan alle info op 1 plek"""

g = Graph()

g.add((gm0034, RDF.type, township))

# print(g.serialize(format='n3'))

<http://example.org/gm0034> a <http://rdfs.co/juso/Township> .