Imports

In [1]:
import pandas as pd
import numpy as np

Import data

In [2]:
#moves between cities
moves_df = pd.read_csv("../Data/moves.csv", sep=";")
moves_df

,ID,RegioVanVestiging,RegioVanVertrek,Perioden,TussenGemeentenVerhuisdePersonen_1
0,283865,GM1680,GM1680,2016JJ00,NaN
1,283866,GM1680,GM1680,2017JJ00,NaN
2,283867,GM1680,GM1680,2018JJ00,NaN
3,283868,GM1680,GM1680,2019JJ00,NaN
4,283869,GM1680,GM1680,2020JJ00,NaN
...,...,...,...,...,...
967995,2470085,GM0193,GM0193,2016JJ00,NaN
967996,2470086,GM0193,GM0193,2017JJ00,NaN
967997,2470087,GM0193,GM0193,2018JJ00,NaN
967998,2470088,GM0193,GM0193,2019JJ00,NaN
967999,2470089,GM0193,GM0193,2020JJ00,NaN

In [3]:
#Housing prices
house_prices_df = pd.read_csv("../Data/house_prices.csv", sep=";")
house_prices_df

,ID,RegioS,Perioden,PrijsindexVerkoopprijzen_1,OntwikkelingTOVVoorgaandePeriode_2,OntwikkelingTOVEenJaarEerder_3,VerkochteWoningen_4,OntwikkelingTOVVoorgaandePeriode_5,OntwikkelingTOVEenJaarEerder_6,GemiddeldeVerkoopprijs_7,TotaleWaardeVerkoopprijzen_8
0,2421,GM0363,2016JJ00,113.5,13.5,13.5,12415,-0.6,-0.6,358976,4457
1,2426,GM0363,2017JJ00,129.5,14.0,14.0,11286,-9.1,-9.1,407670,4601
2,2431,GM0363,2018JJ00,145.9,12.7,12.7,9754,-13.6,-13.6,460705,4494
3,2436,GM0363,2019JJ00,154.3,5.7,5.7,9947,2.0,2.0,484995,4824
4,2441,GM0363,2020JJ00,161.6,4.7,4.7,10462,5.2,5.2,510919,5345
5,2446,GM0363,2021JJ00,180.2,11.5,11.5,11313,8.1,8.1,569890,6447
6,2557,GM0518,2016JJ00,108.3,8.3,8.3,7293,18.7,18.7,244849,1786
7,2562,GM0518,2017JJ00,120.3,11.1,11.1,8103,11.1,11.1,266672,2161
8,2567,GM0518,2018JJ00,135.4,12.5,12.5,6936,-14.4,-14.4,304889,2115
9,2572,GM0518,2019JJ00,146.1,8.0,8.0,6735,-2.9,-2.9,324838,2188
10,2577,GM0518,2020JJ00,157.1,7.5,7.5,7308,8.5,8.5,355807,2600
11,2582,GM0518,2021JJ00,179.9,14.5,14.5,6875,-5.9,-5.9,411718,2831
12,2693,GM0599,2016JJ00,107.1,7.1,7.1,7664,24.3,24.3,202501,1552
13,2698,GM0599,2017JJ00,121.0,13.0,13.0,8278,8.0,8.0,227834,1886
14,2703,GM0599,2018JJ00,138.6,14.5,14.5,7180,-13.3,-13.3,256784,1844
15,2708,GM0599,2019JJ00,149.9,8.2,8.2,6679,-7.0,-7.0,282910,1890
16,2713,GM0599,2020JJ00,162.6,8.5,8.5,7189,7.6,7.6,307358,2210
17,2718,GM0599,2021JJ00,185.3,14.0,14.0,6886,-4.2,-4.2,364018,2507
18,2829,GM0344,2016JJ00,109.8,9.8,9.8,5531,16.4,16.4,267618,1480
19,2834,GM0344,2017JJ00,122.9,11.9,11.9,5358,-3.1,-3.1,307737,1649
20,2839,GM0344,2018JJ00,136.7,11.2,11.2,4636,-13.5,-13.5,344015,1595
21,2844,GM0344,2019JJ00,149.3,9.2,9.2,4762,2.7,2.7,379770,1808
22,2849,GM0344,2020JJ00,163.3,9.4,9.4,4839,1.6,1.6,405791,1964
23,2854,GM0344,2021JJ00,189.5,16.0,16.0,4823,-0.3,-0.3,469949,2267

In [4]:
#housing availability
house_availability_df = pd.read_csv("../Data/house_availability.csv", sep=";")
house_availability_df

,ID,StatusVanBewoning,RegioS,Perioden,TotaleWoningvoorraad_1,Koopwoningen_2,TotaalHuurwoningen_3,EigendomWoningcorporatie_4,EigendomOverigeVerhuurders_5,EigendomOnbekend_6
0,574,T001235,GM1680,2016JJ00,11131.0,7916.0,3045.0,1967.0,1078.0,170.0
1,575,T001235,GM1680,2017JJ00,11145.0,7880.0,3092.0,1964.0,1128.0,173.0
2,576,T001235,GM1680,2018JJ00,11165.0,8157.0,2839.0,1969.0,870.0,169.0
3,577,T001235,GM1680,2019JJ00,11257.0,8342.0,2898.0,2224.0,674.0,17.0
4,578,T001235,GM1680,2020JJ00,11179.0,8338.0,2833.0,2218.0,615.0,8.0
...,...,...,...,...,...,...,...,...,...,...
7861,14815,A028726,GM0193,2017JJ00,1641.0,533.0,1007.0,481.0,526.0,101.0
7862,14816,A028726,GM0193,2018JJ00,1511.0,492.0,937.0,436.0,501.0,82.0
7863,14817,A028726,GM0193,2019JJ00,1605.0,532.0,1060.0,508.0,552.0,13.0
7864,14818,A028726,GM0193,2020JJ00,1582.0,519.0,1026.0,437.0,589.0,37.0
7865,14819,A028726,GM0193,2021JJ00,1640.0,522.0,1101.0,524.0,577.0,17.0

In [5]:
#population size
population_df = pd.read_csv("../Data/population_size.csv", sep=";")
population_df

,ID,Geslacht,RegioS,Perioden,BevolkingOp1Januari_1,Bevolkingsdichtheid_2,LevendGeborenKinderen_3,LevendGeborenKinderenRelatief_4,Overledenen_5,OverledenenRelatief_6,...,UitAndereGemeente_11,TotaalVertrekInclusiefCorrecties_12,TotaalVertrekInclusiefCoRelatief_13,EmigratieInclusiefAdministratieveC_14,SaldoAdministratieveCorrecties_15,NaarAndereGemeente_16,VestigingsoverschotInclusiefCorrecties_17,TotaleGroei_18,TotaleGroeiRelatief_19,BevolkingOp31December_20
0,3533,T001038,GM1680,2016JJ00,25243.0,91,136.0,5.4,274.0,10.8,...,1374.0,1280.0,50.7,92.0,-4.0,1188.0,177.0,43.0,1.7,25286.0
1,3534,T001038,GM1680,2017JJ00,25286.0,92,164.0,6.5,265.0,10.5,...,1592.0,1472.0,58.1,79.0,-13.0,1393.0,210.0,104.0,4.1,25390.0
2,3535,T001038,GM1680,2018JJ00,25390.0,92,162.0,6.4,283.0,11.1,...,1414.0,1384.0,54.5,81.0,-9.0,1303.0,117.0,-4.0,-0.2,25386.0
3,3536,T001038,GM1680,2019JJ00,25386.0,92,176.0,6.9,280.0,11.0,...,1411.0,1349.0,53.1,44.0,4.0,1305.0,163.0,59.0,2.3,25445.0
4,3537,T001038,GM1680,2020JJ00,25445.0,92,167.0,6.6,274.0,10.8,...,1465.0,1459.0,57.4,64.0,-12.0,1395.0,61.0,-46.0,-1.8,25399.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17695,226366,4000,GM0999,2016JJ00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17696,226367,4000,GM0999,2017JJ00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17697,226368,4000,GM0999,2018JJ00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17698,226369,4000,GM0999,2019JJ00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17699,226370,4000,GM0999,2020JJ00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Remove Irrelevant Townships (gemeentes)

In [6]:
top_10_townships = ['GM0363','GM0599','GM0518','GM0344','GM0772','GM0855','GM0014','GM0034','GM0758','GM0268']

In [7]:
moves_top_10_townships = moves_df.loc[(moves_df['RegioVanVestiging'].isin(top_10_townships)) | (moves_df['RegioVanVertrek'].isin(top_10_townships))]
#size (43500 x 5)
#correctness is checked
moves_top_10_townships

,ID,RegioVanVestiging,RegioVanVertrek,Perioden,TussenGemeentenVerhuisdePersonen_1
45,283955,GM1680,GM0034,2016JJ00,0.0
46,283956,GM1680,GM0034,2017JJ00,2.0
47,283957,GM1680,GM0034,2018JJ00,7.0
48,283958,GM1680,GM0034,2019JJ00,6.0
49,283959,GM1680,GM0034,2020JJ00,6.0
...,...,...,...,...,...
967625,2469345,GM0193,GM0344,2016JJ00,155.0
967626,2469346,GM0193,GM0344,2017JJ00,171.0
967627,2469347,GM0193,GM0344,2018JJ00,183.0
967628,2469348,GM0193,GM0344,2019JJ00,167.0
967629,2469349,GM0193,GM0344,2020JJ00,208.0

In [8]:
house_prices_top_10_townships = house_prices_df.loc[house_prices_df['RegioS'].isin(top_10_townships)]
#size = (23 x 11)
#correctness is checked
#only includes Amsterdam, DenHaag, Rotterdam, Utrecht

In [9]:
house_availability_top_10_townships = house_availability_df.loc[house_availability_df['RegioS'].isin(top_10_townships)]
#size = (180 x 10)
#correctness is checked

In [10]:
population_top_10_townships = population_df.loc[population_df['RegioS'].isin(top_10_townships)]
#size = (150 x 24)
#correctness is checked

Rename GMxxxx to actual name of the township for the sake of clarity.

In [11]:
#I include all townships because in the moves table the township that is being moved to/from is also included in the table
gemeentes = pd.read_excel("../Data/gemeentes.xlsx",header=None)
township_codes = gemeentes[0].to_list()
township_names = gemeentes[1].to_list()

def rename_township_values(df):
    return df.replace(township_codes, township_names)

In [12]:
moves_top_10_townships_renamed = rename_township_values(moves_top_10_townships)
house_prices_top_10_renamed =  rename_township_values(house_prices_top_10_townships)
house_availability_top_10_renamed = rename_township_values(house_availability_top_10_townships)
population_top_10_renamed = rename_township_values(population_top_10_townships)

house_prices_top_10_renamed.RegioS.unique()

array(['Amsterdam', 'DenHaag', 'Rotterdam', 'Utrecht'], dtype=object)