# Imports

In [82]:
import pandas as pd
import numpy as np
import math

## Import and clean moving data

In [178]:
# Load data of movement between cities
moves_df = pd.read_pickle("../Prepared_DFs/moves.pkl")
conversions = pd.read_csv("../Data/Conversion_municipalities.csv")

# convert years to ints.
moves_df['Perioden'] = moves_df['Perioden'].map(lambda x: x.rstrip('00').rstrip("JJ"))
moves_df['Perioden'] = pd.to_datetime(moves_df['Perioden'], format='%Y').dt.year

# Conversions adjustment to strings
conversions = conversions.astype('string')

In [179]:
# Get all null valued rows/indices
moves_null = moves_df[moves_df['TussenGemeentenVerhuisdePersonen_1'].isnull()]

# Convert all rows in moves_null. Updating the rows in moves_df. The next step will be to aggregate this.
for jndex, row2 in conversions.iterrows():
    for index, row in moves_df.iterrows():
        if row['RegioVanVestiging'] == row2['odCode']:
            moves_df.at[index, 'RegioVanVestiging'] = conversions.loc[jndex, 'newCode']
        if row['RegioVanVertrek'] == row2['odCode']:
            moves_df.at[index, 'RegioVanVertrek'] = conversions.loc[jndex, 'newCode']

TypeError: boolean value of NA is ambiguous

In [173]:
grouped = moves_df.groupby(['RegioVanVestiging', 'RegioVanVertrek', 'Perioden']).agg({'TussenGemeentenVerhuisdePersonen_1': 'sum'}).reset_index()
grouped

,RegioVanVestiging,RegioVanVertrek,Perioden,TussenGemeentenVerhuisdePersonen_1
0,GM0003,GM0014,2016,82.0
1,GM0003,GM0014,2017,63.0
2,GM0003,GM0014,2018,62.0
3,GM0003,GM0014,2019,85.0
4,GM0003,GM0014,2020,115.0
...,...,...,...,...
40915,GM1987,GM0758,2017,0.0
40916,GM1987,GM0772,2016,0.0
40917,GM1987,GM0772,2017,2.0
40918,GM1987,GM0855,2016,0.0
40919,GM1987,GM0855,2017,0.0

In [176]:
grouped[grouped['RegioVanVestiging']=="GM0007"]

,RegioVanVestiging,RegioVanVertrek,Perioden,TussenGemeentenVerhuisdePersonen_1
80,GM0007,GM0014,2016,43.0
81,GM0007,GM0014,2017,44.0
82,GM0007,GM0034,2016,1.0
83,GM0007,GM0034,2017,4.0
84,GM0007,GM0268,2016,0.0
85,GM0007,GM0268,2017,4.0
86,GM0007,GM0344,2016,4.0
87,GM0007,GM0344,2017,1.0
88,GM0007,GM0363,2016,5.0
89,GM0007,GM0363,2017,4.0
90,GM0007,GM0518,2016,5.0
91,GM0007,GM0518,2017,4.0
92,GM0007,GM0599,2016,8.0
93,GM0007,GM0599,2017,3.0
94,GM0007,GM0758,2016,1.0
95,GM0007,GM0758,2017,0.0
96,GM0007,GM0772,2016,2.0
97,GM0007,GM0772,2017,1.0
98,GM0007,GM0855,2016,1.0
99,GM0007,GM0855,2017,0.0

In [138]:
#Gekut
grouped = moves_.groupby(['RegioVanVestiging', 'Perioden']).agg({'TussenGemeentenVerhuisdePersonen_1': 'sum'})
#print(conversions.odCode)
#conversions[conversions["odCode"]=="GM0575"]
# print(moves_df[moves_df["RegioVanVestiging"]=="GM0575"])
#moves_df[moves_df["RegioVanVestiging"]=="GM0576"]
#copy = moves_df[moves_df['TussenGemeentenVerhuisdePersonen_1'].isnull()]
#moves_df
#moves_df.at[380645, 'RegioVanVestiging']
#moves_df2[moves_df2["RegioVanVertrek"]=="Altena"]
#copy.RegioVanVestiging.unique()

,ID,RegioVanVestiging,RegioVanVertrek,Perioden,TussenGemeentenVerhuisdePersonen_1
45,283955,GM1680,GM0034,2016,0.0
46,283956,GM1680,GM0034,2017,2.0
47,283957,GM1680,GM0034,2018,7.0
48,283958,GM1680,GM0034,2019,6.0
49,283959,GM1680,GM0034,2020,6.0
...,...,...,...,...,...
967625,2469345,GM0193,GM0344,2016,155.0
967626,2469346,GM0193,GM0344,2017,171.0
967627,2469347,GM0193,GM0344,2018,183.0
967628,2469348,GM0193,GM0344,2019,167.0
967629,2469349,GM0193,GM0344,2020,208.0

In [168]:
conversions.head(60)

,odCode,oldName,newCode,newName,yearOfChange
0,GM0003,Appingedam,GM1979,Eemsdelta,2021
1,GM0010,Delfzijl,GM1979,Eemsdelta,2021
2,GM0024,Loppersum,GM1979,Eemsdelta,2021
3,GM0788,Haaren,GM0824,Oisterwijk,2021
4,GM0788,Haaren,GM0865,Vught,2021
5,GM0788,Haaren,GM0757,Boxtel,2021
6,GM0788,Haaren,GM0855,Tilburg,2021
7,GM0005,Bedum,GM1966,Het Hogeland,2019
8,GM1651,Eemsmond,GM1966,Het Hogeland,2019
9,GM1663,De Marne,GM1966,Het Hogeland,2019
10,GM0053,Winsum,GM1966,Het Hogeland,2019
11,GM0009,Ten Boer,GM0014,Groningen,2019
12,GM0014,Groningen,GM0014,Groningen,2019
13,GM0017,Haren,GM0014,Groningen,2019
14,GM0015,Grootegast,GM1969,Westerkwartier,2019
15,GM0022,Leek,GM1969,Westerkwartier,2019
16,GM0025,Marum,GM1969,Westerkwartier,2019
17,GM0056,Zuidhorn,GM1969,Westerkwartier,2019
18,GM0058,Dongeradeel,GM1970,Noardeast-Fryslân,2019
19,GM0079,Kollumerland en Nieuwkruisland,GM1970,Noardeast-Fryslân,2019
20,GM1722,Ferwerderadiel,GM1970,Noardeast-Fryslân,2019
21,GM0236,Geldermalsen,GM1960,West Betuwe,2019
22,GM0304,Neerijnen,GM1960,West Betuwe,2019
23,GM0733,Lingewaal,GM1960,West Betuwe,2019
24,GM0393,Haarlemmerliede en Spaarnwoude,GM0394,Haarlemmermeer,2019
25,GM0394,Haarlemmermeer,GM0394,Haarlemmermeer,2019
26,GM0545,Leerdam,GM1961,Vijfheerenlanden,2019
27,GM0620,Vianen,GM1961,Vijfheerenlanden,2019
28,GM0707,Zederik,GM1961,Vijfheerenlanden,2019
29,GM0575,Noordwijk,GM0575,Noordwijk,2019
30,GM0576,Noordwijkerhout,GM0575,Noordwijk,2019
31,GM0584,Oud-Beijerland,GM1963,Hoeksche Waard,2019
32,GM0585,Binnenmaas,GM1963,Hoeksche Waard,2019
33,GM0588,Korendijk,GM1963,Hoeksche Waard,2019
34,GM0611,Cromstrijen,GM1963,Hoeksche Waard,2019
35,GM0617,Strijen,GM1963,Hoeksche Waard,2019
36,GM0689,Giessenlanden,GM1978,Molenlanden,2019
37,GM1927,Molenwaard,GM1978,Molenlanden,2019
38,GM0738,Aalburg,GM1959,Altena,2019
39,GM0870,Werkendam,GM1959,Altena,2019
40,GM0874,Woudrichem,GM1959,Altena,2019
41,GM0881,Onderbanken,GM1954,Beekdaelen,2019
42,GM0951,Nuth,GM1954,Beekdaelen,2019
43,GM0962,Schinnen,GM1954,Beekdaelen,2019
44,GM0007,Bellingwedde,GM1950,Westerwolde,2018
45,GM0048,Vlagtwedde,GM1950,Westerwolde,2018
46,GM0018,Hoogezand-Sappemeer,GM1952,Midden-Groningen,2018
47,GM0040,Slochteren,GM1952,Midden-Groningen,2018
48,GM1987,Menterwolde,GM1952,Midden-Groningen,2018
49,GM0063,het Bildt,GM1949,Waadhoeke,2018
50,GM0070,Franekeradeel,GM1949,Waadhoeke,2018
51,GM1908,Menameradiel,GM1949,Waadhoeke,2018
52,GM0140,Littenseradiel,<NA>,<NA>,2018
53,GM0080,Leeuwarden,GM0080,Leeuwarden,2018
54,GM0081,Leeuwarderadeel,GM0080,Leeuwarden,2018
55,GM0140,Littenseradiel,<NA>,<NA>,2018
56,GM1900,Súdwest-Fryslân,G1900,Súdwest-Fryslân,2018
57,GM0140,Littenseradiel,<NA>,<NA>,2018
58,GM0196,Rijnwaarden,GM0299,Zevenaar,2018
59,GM0299,Zevenaar,GM0299,Zevenaar,2018

## Import and clean house_prices_new

In [46]:
# Load housing prices
house_prices_new = pd.read_csv("../Data/house_prices_new.csv", sep = ';')

# Cut off the national and province level housing prices
house_prices_new = house_prices_new.loc[285:]
house_prices_new.reset_index(inplace=True)
house_prices_new.drop(columns = 'index',inplace=True)

In [47]:
# Check if both datasets have the same amount of regions (they dont, moves has 209 less)
unique_house_prices = house_prices_new.RegioS.unique()
unique_moves = moves_df.RegioVanVestiging.unique()
difference = set(unique_house_prices) - set(unique_moves)

# Drop the difference from the house_prices_new dataset
difference_index = house_prices_new.loc[house_prices_new["RegioS"].isin(difference)].index
house_prices_new.drop(difference_index, inplace=True)

In [48]:
# This is just to check whether we have dropped correctly. The datasets are now equal in size
unique_house_prices = house_prices_new.RegioS.unique()
unique_moves = moves_df.RegioVanVestiging.unique()
difference = set(unique_house_prices) - set(unique_moves)
print(len(unique_house_prices), len(unique_moves))
print(len(difference))

440 440
0

In [64]:
# The house_prices_new dataset now contains 332 rows with null values in both columns. 
# Here are the indices if we want to drop them (Both columns are empty, so these lists are the same)
empty_house_price_index = house_prices_new[house_prices_new['Woningen_2'].isnull()].index
empty_house_price_index_2 = house_prices_new[house_prices_new['GemiddeldeWoningwaarde_4'].isnull()].index

# Uncomment to drop
# house_prices_new.drop(empty_house_price_index, inplace=True)

## Import and clean house_availability

In [68]:
#housing availability
house_availability = pd.read_csv("../Data/house_availability.csv", sep=";")

# house_availability_df.head()

In [74]:
unique_house_availability = house_availability.RegioS.unique()
unique_moves = moves_df.RegioVanVestiging.unique()
print(len(unique_house_availability))
print(len(unique_moves))
difference = set(unique_house_availability) - set(unique_moves)
difference2 = set(unique_moves) -set(unique_house_availability)
print(difference)
print(difference2)

437
440
{'GM1979'}
{'GM0463', 'GM0412', 'GM0462', 'GM0366'}

In [83]:
house_availability.loc[house_availability["RegioS"] == 'GM0003']

,ID,StatusVanBewoning,RegioS,Perioden,TotaleWoningvoorraad_1,Koopwoningen_2,TotaalHuurwoningen_3,EigendomWoningcorporatie_4,EigendomOverigeVerhuurders_5,EigendomOnbekend_6
108,754,T001235,GM0003,2016JJ00,5881.0,2884.0,2993.0,2596.0,397.0,4.0
109,755,T001235,GM0003,2017JJ00,5899.0,2892.0,3002.0,2593.0,409.0,5.0
110,756,T001235,GM0003,2018JJ00,5925.0,2895.0,3007.0,2589.0,418.0,23.0
111,757,T001235,GM0003,2019JJ00,6032.0,2911.0,3119.0,2607.0,512.0,2.0
112,758,T001235,GM0003,2020JJ00,6042.0,2915.0,3126.0,2595.0,531.0,1.0
113,759,T001235,GM0003,2021JJ00,NaN,NaN,NaN,NaN,NaN,NaN
2730,5694,A028725,GM0003,2016JJ00,5622.0,2813.0,2807.0,2464.0,343.0,2.0
2731,5695,A028725,GM0003,2017JJ00,5647.0,2810.0,2835.0,2477.0,358.0,2.0
2732,5696,A028725,GM0003,2018JJ00,5638.0,2816.0,2821.0,2467.0,354.0,1.0
2733,5697,A028725,GM0003,2019JJ00,5621.0,2835.0,2784.0,2426.0,358.0,2.0
2734,5698,A028725,GM0003,2020JJ00,5639.0,2823.0,2815.0,2420.0,395.0,1.0
2735,5699,A028725,GM0003,2021JJ00,NaN,NaN,NaN,NaN,NaN,NaN
5352,10634,A028726,GM0003,2016JJ00,259.0,71.0,186.0,132.0,54.0,2.0
5353,10635,A028726,GM0003,2017JJ00,252.0,82.0,167.0,116.0,51.0,3.0
5354,10636,A028726,GM0003,2018JJ00,287.0,79.0,186.0,122.0,64.0,22.0
5355,10637,A028726,GM0003,2019JJ00,411.0,76.0,335.0,181.0,154.0,0.0
5356,10638,A028726,GM0003,2020JJ00,403.0,92.0,311.0,175.0,136.0,0.0
5357,10639,A028726,GM0003,2021JJ00,NaN,NaN,NaN,NaN,NaN,NaN

## Import and clean population

In [5]:
#population size
population_df = pd.read_csv("../Data/population_size.csv", sep=";")

#population_df.head()

Remove Irrelevant Townships (gemeentes)

In [6]:
top_10_townships = ['GM0363','GM0599','GM0518','GM0344','GM0772','GM0855','GM0014','GM0034','GM0758','GM0268']

In [7]:
moves_top_10_townships = moves_df.loc[(moves_df['RegioVanVestiging'].isin(top_10_townships)) | (moves_df['RegioVanVertrek'].isin(top_10_townships))]
#size (43500 x 5)
#correctness is checked

moves_top_10_townships.head()

,ID,RegioVanVestiging,RegioVanVertrek,Perioden,TussenGemeentenVerhuisdePersonen_1
45,283955,GM1680,GM0034,2016JJ00,0.0
46,283956,GM1680,GM0034,2017JJ00,2.0
47,283957,GM1680,GM0034,2018JJ00,7.0
48,283958,GM1680,GM0034,2019JJ00,6.0
49,283959,GM1680,GM0034,2020JJ00,6.0

In [15]:
house_prices_top_10_townships = house_prices_df.loc[house_prices_df['RegioS'].isin(top_10_townships)]
# size = (23 x 11)
#correctness is checked
#only includes Amsterdam, DenHaag, Rotterdam, Utrecht

house_prices_top_10_townships.head()

,ID,RegioS,Perioden,PrijsindexVerkoopprijzen_1,OntwikkelingTOVVoorgaandePeriode_2,OntwikkelingTOVEenJaarEerder_3,VerkochteWoningen_4,OntwikkelingTOVVoorgaandePeriode_5,OntwikkelingTOVEenJaarEerder_6,GemiddeldeVerkoopprijs_7,TotaleWaardeVerkoopprijzen_8
0,2421,GM0363,2016JJ00,113.5,13.5,13.5,12415,-0.6,-0.6,358976,4457
1,2426,GM0363,2017JJ00,129.5,14.0,14.0,11286,-9.1,-9.1,407670,4601
2,2431,GM0363,2018JJ00,145.9,12.7,12.7,9754,-13.6,-13.6,460705,4494
3,2436,GM0363,2019JJ00,154.3,5.7,5.7,9947,2.0,2.0,484995,4824
4,2441,GM0363,2020JJ00,161.6,4.7,4.7,10462,5.2,5.2,510919,5345

In [16]:
house_availability_top_10_townships = house_availability_df.loc[house_availability_df['RegioS'].isin(top_10_townships)]
#size = (180 x 10)
#correctness is checked

house_availability_top_10_townships.head()

,ID,StatusVanBewoning,RegioS,Perioden,TotaleWoningvoorraad_1,Koopwoningen_2,TotaalHuurwoningen_3,EigendomWoningcorporatie_4,EigendomOverigeVerhuurders_5,EigendomOnbekend_6
54,664,T001235,GM0034,2016JJ00,79721.0,50834.0,28724.0,21785.0,6939.0,163.0
55,665,T001235,GM0034,2017JJ00,80582.0,51333.0,29088.0,21827.0,7261.0,161.0
56,666,T001235,GM0034,2018JJ00,82312.0,52076.0,29997.0,21855.0,8142.0,239.0
57,667,T001235,GM0034,2019JJ00,84161.0,54028.0,29962.0,22978.0,6984.0,171.0
58,668,T001235,GM0034,2020JJ00,85977.0,54906.0,30895.0,23334.0,7561.0,176.0

In [17]:
population_top_10_townships = population_df.loc[population_df['RegioS'].isin(top_10_townships)]
#Only use Geslacht == T001038 (=male + female). Dan komen de verhuis cijfers overeen met de moves table (zie check gedeelte hieronder)
population_top_10_townships = population_top_10_townships[population_top_10_townships['Geslacht'] == 'T001038']

#size = (150 x 24)
#correctness is checked

population_top_10_townships.head()

,ID,Geslacht,RegioS,Perioden,BevolkingOp1Januari_1,Bevolkingsdichtheid_2,LevendGeborenKinderen_3,LevendGeborenKinderenRelatief_4,Overledenen_5,OverledenenRelatief_6,...,UitAndereGemeente_11,TotaalVertrekInclusiefCorrecties_12,TotaalVertrekInclusiefCoRelatief_13,EmigratieInclusiefAdministratieveC_14,SaldoAdministratieveCorrecties_15,NaarAndereGemeente_16,VestigingsoverschotInclusiefCorrecties_17,TotaleGroei_18,TotaleGroeiRelatief_19,BevolkingOp31December_20
100,4753,T001038,GM0034,2016JJ00,198145.0,1533,2359.0,11.8,980.0,4.9,...,8087.0,9034.0,45.3,1623.0,-92.0,7411.0,1392.0,2769.0,14.0,200914.0
101,4754,T001038,GM0034,2017JJ00,200914.0,1555,2299.0,11.4,942.0,4.7,...,8640.0,9075.0,44.8,1511.0,-64.0,7564.0,1730.0,3076.0,15.3,203990.0
102,4755,T001038,GM0034,2018JJ00,203990.0,1579,2362.0,11.5,1016.0,4.9,...,9095.0,8984.0,43.6,1495.0,31.0,7489.0,2580.0,3914.0,19.2,207904.0
103,4756,T001038,GM0034,2019JJ00,207904.0,1609,2558.0,12.2,1025.0,4.9,...,9524.0,9733.0,46.4,1564.0,-46.0,8169.0,2476.0,3989.0,19.2,211893.0
104,4757,T001038,GM0034,2020JJ00,211893.0,1640,2503.0,11.7,1084.0,5.1,...,9617.0,10348.0,48.5,1407.0,-21.0,8941.0,1400.0,2822.0,13.3,214715.0

Rename GMxxxx to actual name of the township for the sake of clarity.

In [18]:
#I include all townships because in the moves table the township that is being moved to/from is also included in the table
gemeentes = pd.read_excel("../Data/gemeentes.xlsx",header=None)
township_codes = gemeentes[0].to_list()
township_names = gemeentes[1].to_list()

def rename_township_values(df):
    return df.replace(township_codes, township_names)

In [19]:
moves_top_10_townships_renamed = rename_township_values(moves_top_10_townships)
house_prices_top_10_renamed =  rename_township_values(house_prices_top_10_townships)
house_availability_top_10_renamed = rename_township_values(house_availability_top_10_townships)
population_top_10_renamed = rename_township_values(population_top_10_townships)

Test if move numbers correspond across tables

In [20]:
#nmbr people movign away from GM0034 in 2016
df_population_0034_2026 = population_top_10_townships[(population_top_10_townships['Perioden'] == '2016JJ00') & (population_top_10_townships['RegioS'] == 'GM0034')]
total_moves_away = df_population_0034_2026.NaarAndereGemeente_16.sum()
total_moves_away

7411.0

In [21]:
df_moves_0034_2016 = moves_top_10_townships[(moves_top_10_townships['RegioVanVertrek'] == 'GM0034') & (moves_top_10_townships['Perioden'] == '2016JJ00')]
df_moves_0034_2016.TussenGemeentenVerhuisdePersonen_1.sum()

7411.0

Save DFs to use in other notebooks

In [22]:
moves_top_10_townships.to_pickle("../Prepared_DFs/moves.pkl")
house_prices_top_10_townships.to_pickle("../Prepared_DFs/house_prices.pkl")
house_availability_top_10_townships.to_pickle("../Prepared_DFs/house_availability.pkl")
population_top_10_townships.to_pickle("../Prepared_DFs/population.pkl")

moves_top_10_townships_renamed.to_pickle("../Prepared_DFs/moves_renamed.pkl")
house_prices_top_10_renamed.to_pickle("../Prepared_DFs/house_prices_renamed.pkl")
house_availability_top_10_renamed.to_pickle("../Prepared_DFs/house_availability_renamed.pkl")
population_top_10_renamed.to_pickle("../Prepared_DFs/population_renamed.pkl")